<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OrganizationTaskManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrganizationServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.OrganizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganizationServlet</servlet-name>
    <url-pattern>/organization.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/task.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ExecuteTaskServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.ExecuteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteTaskServlet</servlet-name>
    <url-pattern>/execute.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebpageRedirectingServlet</servlet-name>
    <servlet-class>com.ld.otmsweb.servlet.WebpageRedirectingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebpageRedirectingServlet</servlet-name>
    <url-pattern>/redirect.do</url-pattern>
  </servlet-mapping>
</web-app>